:root {
    --primary: #eb1616;
    --dark: #202020;
    /* --gray-light: #f5f5f5; */
    --gray-light: #bdbdbd;
    --white: #ffffff;

    --jetbrains: "JetBrains Mono", monospace;
    --oswald: "Oswald", sans-serif;
    --roboto: "Roboto", sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    background-color: var(--dark);
    color: var(--gray-light);
    font-family: var(--jetbrains);
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3 {
    color: var(--white);
    font-weight: 500;
    text-transform: uppercase;
    font-family: var(--oswald);
}

h1 {
    font-size: 4rem;
}

@media (min-width: 768px) {
    h1 {
        font-size: 5rem;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 6.5rem;
    }
}

h2 {
    font-size: 3.2rem;
}

@media (min-width: 768px) {
    h2 {
        font-size: 4rem;
    }
}

h3 {
    font-size: 2.8rem;
}

.container {
    width: 96%;
    max-width: 130rem;
    margin: 0 auto;
}

/* Hero */
.hero {
    height: 100vh;
    background-image: url("../img/hero01.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-content {
    height: 100vh;
    background-color: rgba(12, 12, 12, 0.2);
}

.hero .header {
    /* background-color: rgba(10, 10, 10, 0.3); */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.8rem 0;
}

.navbar a {
    color: var(--white);
}

.navbar-logo {
    font-size: 3.6rem;
    font-family: var(--oswald);
    font-weight: 700;
}

.navbar-logo span {
    color: var(--primary);
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.navbar-links a {
    font-size: 1.8rem;
}

.navbar-icons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.hero-info {
    height: calc(100vh - 35rem);
    width: 75rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.hero-info h1 {
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.hero-info p {
    font-size: 1.8rem;
    width: 40rem;
    line-height: 1.6;
}
